# Database
DATABASE_URL="postgresql://<username>:<password>@localhost:5432/<database>?schema=public"

# Cloudinary
CLOUDINARY_CLOUD_NAME="<cloud-name>"
CLOUDINARY_API_KEY="<cloudinary-api-key>"
CLOUDINARY_API_SECRET="<cloudinary-api-secret>"

# Better Auth
BETTER_AUTH_SECRET="<generate-a-32+-char-secret>"
BETTER_AUTH_URL="http://localhost:3000"

# OAuth Providers
GOOGLE_CLIENT_ID="<google-client-id>"
GOOGLE_CLIENT_SECRET="<google-client-secret>"
GITHUB_CLIENT_ID="<github-client-id>"
GITHUB_CLIENT_SECRET="<github-client-secret>"
